{% extends "base.html" %}
{% block title %}
    Add Machines
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

{% include "header.html" %}
<div class="mt-2 container col-lg-12 col-xs-8 justify-content-center ">
    <div class="row justify-content-center">
    <div class="col-lg-3 col-xs-8 ">
        <div class="card col-12 text-center">
            <div class="card-header"> Add Client</div>

            <div class="card-body">
                
            <form class="form-inline" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
            {{ form.machine_name.label }}:
            {{ form.machine_name }}
            </div>
            <div class="mb-3">
                {{ form.machine_serial_number.label }}:
                {{ form.machine_serial_number }}
                </div>
                <div class="mt-2">
                    {{ form.client.label }}:
                </div>
                <div class="mt-2">
                    {{ form.client }}
                </div>
            

            </div>
            </div>
            <div class="mt-2 d-flex justify-content-center"> 
            <button class="btn btn-primary " type="submit">Submit</button>
            </div>
    </div>
        
    </div>
        
        
    </form>
    </div>
</div>
     

{% else %}

<p>You are not logged in! Please login first</p>

{% endif %}
{% endblock %}