{%  extends 'base.html' %}

{% block title %} 
Results : {{ client_name }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% include "header.html" %}

<div class="container">
<div class="row">
    <div class="col">
        <div class="card text-center rounded-0 mt--2">
            <div class="card-header text-black"> <h2 class="h2 text-black">Problems For {{ client_name }}</h2></div>
            <div class="card-body">
                <div class="table-responsive">

                <table class="table ">
                    <tr>
                        <th>Id</th>
                        <th>Machine</th>
                        <th>Engineer</th>
                        <th>Date</th>
                        <th>Remarks</th>
                        <th>Service Rendered</th>
                        <th>Name</th>
                        <th>Status</th>
                        
                    </tr>
                    {% for i in problems_name %}
                    
                        <tr>
                        <td name="id">{{ i.id }}</td>
                            <td>{{ i.machine }}</td>
                            <td>{{ i.engineer }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.remarks }}</td>
                            <td>{{ i.service_rendered }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.status }}</td>
                            <td><a href="{% url 'edit_report' i.id %}"> Edit</a</td>
                            <td><a href="{% url 'pdfexport' i.id%}"> Download Full Service Report</a</td>

                        </tr>
                    {% endfor %}
                    </table>

                     
                    </div>
            </div>
        </div>
        </div>
    </div>

<div class="row">
    <div class="col-lg-12">
        <div class="d-flex mt-2 .justify-content-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page=1&client={{ client_name }}" class="page-link">&laquo; first</a></li>
                    <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
                    {% endif %}
                  <li class="page-item"><a class="page-link" href="#">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </a></li>
                {% if page_obj.has_next %}
                  <li class="page-item">
                    
                    <a href="?page={{ page_obj.next_page_number }}&client={{ client_name }}" class="page-link">next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}&client={{ client_name }}" class="page-link">last &raquo;</a>
                {% endif %}
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>
</div>
</div>
{% else %}
    
<p>You are not logged in! Please login first</p>
<a href="{% url 'login' %}"><button>
    Go To Login
</button></a>
{% endif %}

{% endblock %}