
    {% extends 'base.html' %}

    {% block title %} Machine List 
    {% endblock %}
    {% block content %}
    {% if user.is_authenticated %}
    {% include "header.html" %}
    {% else %}
        
    <p>You are not logged in! Please login first</p>
    <a href="{% url 'login' %}"><button>
        Go To Login
    </button></a>
    {% endif %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card text-center rounded-0 ">
                        <div class="card-header text-black"> <h2 class="h2 text-black">Machine List</h2></div>
                        <div class="card-body table-responsive">
                                <table class="table" >
                                    <tr>
                                        <th>Name</th>
                                    
                                        <th>Serial Number</th>

                                        <th>Client</th>  
                                        <th>Model</th>
                                    </tr>
                            
                                {% for x in machine %}
                                        <tr>
                                        <td>
                                            <a href="{% url 'machine_by_id' machine_id=x.id %}">
                                                {{ x.machine_name }}
                                            </a>
                                        </td>
                                        <td>{{ x.machine_serial_number}}</td>
                                        <td>{{ x.client}}</td>
                                        <td> <a href="{% url 'problem_by_machine_model' x.model%}">
                                            {{ x.model }}
                                        </a></td>
                                        </tr>
                                
                    
            {% endfor %}
            
        </table>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex mt-2 .justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                            <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
                            {% endif %}
                          <li class="page-item"><a class="page-link" href="#">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </a></li>
                        {% if page_obj.has_next %}
                          <li class="page-item">
                            
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
                        {% endif %}
                          </li>
                        </ul>
                      </nav>
                
                <a href="{%  url 'export_all_machines' %}" mx-auto><button class="btn btn-info mx-auto text-white h-auto" >
                    Download All Machines
                  </button></a></div>
            </div>
        </div>
        </div>

       
        
        
        {% endblock %}