{% extends "base.html" %}
{% block title %}
    Diagnotech Client List
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% include "header.html" %}
{% else %}
    
<p>You are not logged in! Please login first</p>
<a href="{% url 'login' %}"><button>
    Go To Login
</button></a>
{% endif %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-sm-8">
            <div class="card text-center rounded-0 ">
                <div class="card-header text-black"> <h2 class="h2 text-black">Client List</h2></div>
                <div class="card-body table-responsive">
            <table class="table text-black">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact</th>
        
                </tr>
                {% for x in clients  %}
               
                    
                        <tr>
                        <td><a href="{% url 'view_problems_name' client_name=x.client_name %}" class="link-info">{{ x.client_name }}</a></td>
                        <td>{{ x.client_address }}</td>
                        <td>{{ x.client_contact }}</td>
                        </tr>
                        {% endfor %}
                    </table>   
                    </div>
                    </div>
                    </div>
        </div>
  
    <div class="row">
        <div class="col-lg-12 col-sm-8">
            <div class="d-flex mt-2 .justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                        <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
                        {% endif %}
                      <li class="page-item"><a class="page-link" href="#">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </a></li>
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
                    {% endif %}
                      </li>
                    </ul>
                  </nav>
                  <a href="{%  url 'test_url' %}" mx-auto><button class="btn btn-info mx-auto text-white h-auto" >
                    Download All Clients
                  </button></a>
            </div>
          
        </div>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>
    </div>
</div>
      
    
    
      
      
    {% endblock %}
  


