body{
    background-color: #489755 !important;
}

.nav-link {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar{
    width: 100%;
}

h1,h2{
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.60) !important;
}

table{
    color:white;
}
.custom-toggler {
    border-color: #007bff; /* Change to your desired color */
    color: #007bff; /* Change to your desired color */
  }

  div#jsign_client_signature{
    border: solid 1px;
    border-color: #007bff;
  }

  .jSignature{
    border: solid 1px;
    border-color: #007bff;
  }